<div class="mid-wrapper">
    <div class="checkout-page">
        <div class="checkout-progress-bar">
            <div class="progress-bar-tab active"><span class="num-box">1</span> Review & Schedule</div>
            <div class="progress-bar-tab"><span class="num-box">2</span> Select Address</div>
            <div class="progress-bar-tab"><span class="num-box">3</span> Check Quote</div>
            <div class="progress-bar-tab"><span class="num-box">4</span> Order Placed</div>
        </div>
        <h3 class="cart-product-list">3 Product in cart</h3>
        <div class="all-flex-box cart-products">
            <div class="cart-item">
                <div class="image-box"><img src="assets/img/sweea181.jpg" alt="Sweet Shop product" /></div>
                <h4 class="product-title">Kaju Gunjiya</h4>
                <div class="cart-quantity">
                    <input type="number" value="1" class="input-num">
                </div>
            </div>
            <div class="cart-item">
                <div class="image-box"><img src="assets/img/sweea181.jpg" alt="Sweet Shop product" /></div>
                <h4 class="product-title">Kaju Gunjiya</h4>
                <div class="cart-quantity">
                    <input type="number" value="1" class="input-num">
                </div>
            </div>
            <div class="cart-item">
                <div class="image-box"><img src="assets/img/sweea181.jpg" alt="Sweet Shop product" /></div>
                <h4 class="product-title">Kaju Gunjiya</h4>
                <div class="cart-quantity">
                    <input type="number" value="1" class="input-num">
                </div>
            </div>
        </div>
        <div class="cart-totals">
            <div class="cart-total">
                <div class="total-price">Cart Total <span><i class="fa fa-inr" aria-hidden="true"></i> 1289.00</span>
                </div>
                <div class="tax-price">tax <span><i class="fa fa-inr" aria-hidden="true"></i> 12.00</span></div>
                <div class="shipping-cust">Shipping Charges <span><i class="fa fa-inr" aria-hidden="true"></i>
                        12.00</span></div>
            </div>
            <div class="select-address">
                <select>
                    <option>Select Address</option>
                </select>
            </div>
        </div>
    </div>
</div>